name: Build AdRewards Pro APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Isse aap GitHub se manually bhi build start kar sakte ho

jobs:
  build:
    name: Build Android APK
    runs-on: ubuntu-latest

    steps:
      # 1. Code fetch karna
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Java 17 Setup (Android build ke liye zaroori)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Flutter Setup
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      # 4. Clean & Get Dependencies
      - name: Clean & Get Dependencies
        run: |
          flutter clean
          flutter pub get

      # 5. Build Release APK (Ye fast aur optimized APK banayega)
      - name: Build Release APK
        run: flutter build apk --release --no-tree-shake-icons

     # 6. SIGN APK (Native Commands - 100% Working & Fail-Proof)
      - name: Sign Release APK
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          # 1. Base64 se Keystore file wapas banayein
          echo "$KEYSTORE_BASE64" | base64 --decode > my_keystore.jks
          
          # 2. Server par Android Build Tools ka latest version dhoondhein
          BUILD_TOOLS_DIR=$(ls -1d $ANDROID_HOME/build-tools/* | tail -n 1)
          
          # 3. APK ko Zipalign karein (Optimize karne ke liye)
          $BUILD_TOOLS_DIR/zipalign -v -p 4 build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/app-aligned.apk
          
          # 4. Keystore se APK ko Sign karein
          $BUILD_TOOLS_DIR/apksigner sign --ks my_keystore.jks --ks-key-alias "$KEY_ALIAS" --ks-pass pass:"$KEYSTORE_PASSWORD" --key-pass pass:"$KEY_PASSWORD" --out build/app/outputs/flutter-apk/AdRewards-Pro-Signed.apk build/app/outputs/flutter-apk/app-aligned.apk

      # 7. Upload Signed APK
      - name: Upload Signed APK
        uses: actions/upload-artifact@v4
        with:
          name: AdRewards-Pro-Signed-APK
          path: build/app/outputs/flutter-apk/AdRewards-Pro-Signed.apk